/**
* Educare Modern Search Form
* Official Website: https://fixbd.net/Educare/add-ons/search-form/modern-search-form
* GitHub: https://github.com/FixBD/Educare/
*
* @since 1.4.5
* @last-update 1.4.5
* @Version: 1.0.0
*/
.register{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  padding: 3%;
}
.register-left {
  text-align: center;
  color: #fff;
  margin: auto !important;
}
.register-right {
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-right form.bg-light {
  background-color: transparent !important;
}
.register-right .active {
  color: unset !important;
}

.register-left p {
  font-weight: lighter;
  padding: 6%;
}
.register .register-form{
  padding: 10%;
  padding-top: 4%;
}
.register .nav-item{
  margin: 4px;
}

.register .nav-tabs{
  margin-top: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  height: auto;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
.register .nav-tabs .nav-link.active{
  color: #fff !important;
  background-color: #00c6ff;
}
.register-heading{
  text-align: center;
  color: #495057;
}

#educareResults .register .content {
  padding: 0px;
}

#educareResults .submit-button {
  font-size: 16px;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  padding: 1rem 2.5rem;
  line-height: 1.5;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5) !important;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.18) !important;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#educareResults a.submit-button:hover {
  color: #222222 !important;
}

.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 32%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

#educareResults .tab-menu-head {
  padding: 0 10% !important;
}

#educareResults p.tab-menu-message {
  border: 1px dotted rgba(255, 255, 255, 0.6);
}